body {
    display: flex;
    justify-content: center;
    background-color: rgb(22, 14, 34);
}

#container {
    display: flex;
    margin-top: 10vh;
    width: 50vw;
    height: 50vw;
    background-color: rgb(22, 22, 22);
    flex-wrap: wrap;
    /* border: 1em dotted rgb(82, 64, 110); */
}

.newSquare {
    border: .01vw solid rgb(38, 19, 68);
    color: aliceblue;
    background-color: rgba(214, 165, 255, 0.644);
    flex: 1 1 auto;
}